<mat-card  style="height:100%; margin: 20px;">
  <mat-card-title>
    <h2>Rent</h2>
  </mat-card-title>
  <mat-card-content>
    <h4>
      <p>Monthly Rent : <b>{{rent?.monthlyRent | currency : 'GBP' }}</b> </p>
      <p>Agent fees: <b>{{rent?.agentFee | currency : 'GBP' }}</b></p>
      <p>Maintaince: <b>{{rent?.maintaince | currency : 'GBP' }}</b></p>
      <p>Mortgate Payment : <b>{{rent?.mortgagePayment | currency : 'GBP' }}</b></p>
      <p> Net Rent: <b> {{rent?.netRent | currency : 'GBP' }}</b></p>
    </h4>

    <h2> ROI : <ng-container *ngIf="roi">{{roi | number : '1.2-2'}} %</ng-container>
    </h2>
  </mat-card-content>
</mat-card>
